.styled-button {
    padding: 10px 20px;
    background-color: #2979ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .styled-button:hover {
    background-color: #2962ff;
  }
  